table.RadCalendar_Tacoma {
    background: #fff;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
}
.RadCalendar_Tacoma .rcTitlebar {
    border-color: #688caf #688caf #9eb6ce;
    background: #4e6381;
    color: White;
}
.RadCalendar_Tacoma .rcTitlebar table {
    font: 12px / 22px "segoe ui", arial, sans-serif;
}
.RadCalendar_Tacoma .rcTitlebar td {
    padding: 0 0 2px;
}
.RadCalendar_Tacoma .rsDatePickerCalendar .rcTitlebar {
    background-color: #4d6381;
    color: white;
}
.RadCalendar_Tacoma .rcTitlebar .rcPrev,
.RadCalendar_Tacoma .rcTitlebar .rcNext,
.RadCalendar_Tacoma .rcTitlebar .rcFastPrev,
.RadCalendar_Tacoma .rcTitlebar .rcFastNext {
    width: 19px !important;
    height: 19px !important;
    margin: 1px 2px 0;
    font-weight: bold;
    text-indent: 100;
    background-image: url('Scheduler/rsSprites.png');
    background-color: #4d6381;
}
.RadCalendar_Tacoma .rcTitlebar .rcFastPrev {
    margin-left: 4px;
    background-position: 0px -123px;
}
.RadCalendar_Tacoma .rcTitlebar a.rcFastPrev:hover {
    background-position: 0px -105px;
}
.RadCalendar_Tacoma .rcTitlebar .rcPrev {
    background-position: -19px -123px;
}
.RadCalendar_Tacoma .rcTitlebar a.rcPrev:hover {
    background-position: -19px -105px;
}
.RadCalendar_Tacoma .rcTitlebar .rcNext {
    background-position: -38px -123px;
}
.RadCalendar_Tacoma .rcTitlebar a.rcNext:hover {
    background-position: -38px -105px;
}
.RadCalendar_Tacoma .rcTitlebar .rcFastNext {
    background-position: -57px -123px;
}
.RadCalendar_Tacoma .rcTitlebar a.rcFastNext:hover {
    background-position: -57px -105px;
}
.RadCalendar_Tacoma .rcMain {
    border-color: #688caf;
}
.RadCalendar_Tacoma .rcMainTable {
    color: #000;
    font: 12px / 20px "segoe ui", arial, sans-serif;
}
.RadCalendar_Tacoma .rcHeader,
.RadCalendar_Tacoma .rcFooter {
    border-color: #688caf;
}
.RadCalendar_Tacoma .rcWeek th {
    border-bottom: 1px solid #9ebfdb;
    padding: 2px 6px 2px 0;
}
.RadCalendar_Tacoma .rcWeek .rcViewSel {
    width: 12px;
    padding: 0 7px 0 9px;
    background: #e9eeee;
}
.RadCalendar_Tacoma .rcRow th {
    width: 12px;
    padding: 0 7px 0 9px;
    background: #e9eeee;
    color: #555;
}
.RadCalendar_Tacoma .rcRow td {
    border-color: #fff;
}
.RadCalendar_Tacoma .rcMain .rcRow a,
.RadCalendar_Tacoma .rcMain .rcRow span {
    color: #000;
}
.RadCalendar_Tacoma .rcMain .rcWeekend a {
    color: #444;
}
.RadCalendar_Tacoma .rcRow .rcToday {
    border-color: #688caf;
}
.RadCalendar_Tacoma .rcMain .rcOtherMonth a,
.RadCalendar_Tacoma .rcMain .rcOutOfRange span {
    color: #777;
}
.RadCalendar_Tacoma .rcRow .rcSelected {
    border-color: #8f8367 #a59b85 #c3bdae;
    background: #fcda88;
}
.RadCalendar_Tacoma .rcRow .rcHover {
    border-color: #d8ca95 #b89f73 #c6b99c;
    background: #ffdf85;
}
.RadCalendarMultiView_Tacoma .rcTitlebar {
    background: #4e6381;
}
.RadCalendarMultiView_Tacoma .rcTitlebar table {
    border: 1px solid #f6f7f9;
    line-height: 27px;
}
.RadCalendarMultiView_Tacoma .rcTitlebar td {
    padding-bottom: 1px;
}
.RadCalendarMultiView_Tacoma .rcCalendar {
    border-color: #688caf;
    border-top: 0;
}
.RadCalendarMultiView_Tacoma .rcCalendar .rcMainTable {
    height: 195px;
}
.RadCalendarMultiView_Tacoma .rcMainTable .rcTitle {
    border-width: 1px 0;
    border-color: #688caf #9eb6ce #9eb6ce;
    padding: 0 0 2px;
    background: #4e6381;
    color: white;
    line-height: 22px;
}
table.RadCalendarMonthView_Tacoma {
    border-color: #868686;
    background: #fff;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    color: #000;
}
.RadCalendarMonthView_Tacoma #rcMView_Feb,
.RadCalendarMonthView_Tacoma #rcMView_Apr,
.RadCalendarMonthView_Tacoma #rcMView_Jun,
.RadCalendarMonthView_Tacoma #rcMView_Aug,
.RadCalendarMonthView_Tacoma #rcMView_Oct,
.RadCalendarMonthView_Tacoma #rcMView_Dec {
    border-right: 1px solid #9ebfdb;
}
.RadCalendarMonthView_Tacoma a {
    color: #000;
}
.RadCalendarMonthView_Tacoma .rcSelected a {
    border-color: #8f8367 #a59b85 #c3bdae;
    background: #4e6381;
    color: white;
}
.RadCalendarMonthView_Tacoma #rcMView_PrevY a,
.RadCalendarMonthView_Tacoma #rcMView_NextY a {
    width: 15px;
    height: 13px;
    overflow: hidden;
    background-image: url('Calendar/sprite.gif');
    color: #ccc;
}
.RadCalendarMonthView_Tacoma #rcMView_PrevY a {
    background-position: 3px -200px;
}
.RadCalendarMonthView_Tacoma #rcMView_NextY a {
    background-position: 4px -500px;
}
.RadCalendarMonthView_Tacoma .rcButtons {
    padding: 5px 7px 3px;
}
.RadCalendarMonthView_Tacoma input {
    border-color: #7793b9;
    padding: 3px 3px 3px;
    background: white;
    color: black;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
}
table.RadCalendarTimeView_Tacoma {
    border-color: #688caf;
    background: #fff;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
}
.RadCalendarTimeView_Tacoma th {
    border-bottom: 1px solid #9eb6ce;
    padding: 0 0 1px;
    background: #c3d8f1 0 -1000px repeat-x url('Calendar/sprite.gif');
    color: #00156e;
    line-height: 23px;
}
table.RadCalendarTimeView_Tacoma td {
    border-color: #9ebfdb;
}
.RadCalendarTimeView_Tacoma a {
    color: #000;
}
.RadCalendarTimeView_Tacoma td.rcSelected a {
    border-color: #8f8367 #a59b85 #c3bdae;
    background: #fcda88 0 -1700px repeat-x url('Calendar/sprite.gif');
}
.RadCalendarTimeView_Tacoma td.rcHover a {
    border-color: #d8ca95 #b89f73 #c6b99c;
    background: #ffdf85 0 -1600px repeat-x url('Calendar/sprite.gif');
}
.RadCalendarTimeView_Tacoma .rcFooter {
    border-color: #688caf;
}
.RadPicker_Tacoma .rcCalPopup,
.RadPicker_Tacoma .rcTimePopup {
    background-image: url('Calendar/sprite.gif');
}
.RadPicker_Tacoma .rcCalPopup {
    background-position: 0 0;
}
.RadPicker_Tacoma a.rcDisabled.rcCalPopup:hover {
    background-position: 0 0;
}
.RadPicker_Tacoma a.rcCalPopup:hover,
.RadPicker_Tacoma a.rcCalPopup:focus,
.RadPicker_Tacoma a.rcCalPopup:active {
    background-position: 0 -50px;
}
.RadPicker_Tacoma .rcTimePopup {
    background-position: 0 -100px;
}
.RadPicker_Tacoma a.rcDisabled.rcTimePopup:hover {
    background-position: 0 -100px;
}
.RadPicker_Tacoma a.rcTimePopup:hover,
.RadPicker_Tacoma a.rcTimePopup:focus,
.RadPicker_Tacoma a.rcTimePopup:active {
    background-position: 0 -150px;
}
.RadCalendarRTL_Tacoma .rcTitlebar .rcFastPrev {
    background-position: 0 -500px;
}
.RadCalendarRTL_Tacoma .rcTitlebar a.rcFastPrev:hover {
    background-position: 0 -550px;
}
.RadCalendarRTL_Tacoma .rcTitlebar .rcPrev {
    background-position: 0 -400px;
}
.RadCalendarRTL_Tacoma .rcTitlebar a.rcPrev:hover {
    background-position: 0 -450px;
}
.RadCalendarRTL_Tacoma .rcTitlebar .rcNext {
    background-position: 0 -300px;
}
.RadCalendarRTL_Tacoma .rcTitlebar a.rcNext:hover {
    background-position: 0 -350px;
}
.RadCalendarRTL_Tacoma .rcTitlebar .rcFastNext {
    background-position: 0 -200px;
}
.RadCalendarRTL_Tacoma .rcTitlebar a.rcFastNext:hover {
    background-position: 0 -250px;
}
html div.RadGrid_Tacoma table.rgMasterTable thead tr th.rgHeader input[type="button"] {
    background-color: rgb(78, 99, 129);
    color: white !important;
    border: none;
    outline: none;
    font:inherit;
}
html div.RadGrid_Tacoma table.rgMasterTable thead tr th.rgHeader.rgSorted input[type="button"] {
    background-color:rgb(49,63,83) ;
    color:white !important;
    border: none;
    outline:none;
    font:inherit;
}