.RadComboBox_Tacoma{
	color:#333333;
	font-size:12px;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif

}
.RadComboBox_Tacoma .rcbInputCell,
.RadComboBox_Tacoma .rcbArrowCell{
	background-image:url('Combo/radFormSprite.png')
}
.RadComboBox_Tacoma .rcbInputCell{
	background-position:0px 0px
}
.RadComboBox_Tacoma .rcbArrowCell{
	background-position:0px -176px
}
.RadComboBox_Tacoma .rcbInput{
	color:#333333;
	font-size:12px;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	line-height:16px

}
.RadComboBox_Tacoma .rcbEmptyMessage{
	color:#a5a5a5

}
.RadComboBox_Tacoma .rcbHovered .rcbInput{
	color:black

}
.RadComboBox_Tacoma .rcbFocused .rcbInput{
	color:black

}
.RadComboBox_Tacoma .rcbReadOnly .rcbInput{
	color:#333333

}
.RadComboBox_Tacoma .rcbHovered .rcbReadOnly .rcbInput{
	color:black

}
.RadComboBox_Tacoma .rcbFocused .rcbReadOnly .rcbInput{
	color:white;
	color:black
}
.RadComboBoxDropDown_Tacoma{
	border-color:#828282;
	color: black;
	background:white;
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	font-size:12px
}
.RadComboBoxDropDown_Tacoma .rcbHeader,.RadComboBoxDropDown_Tacoma .rcbFooter{
	color:#333333;
	background-color:#eaeaea

}
.RadComboBoxDropDown_Tacoma .rcbHeader{
	border-bottom-color:#828282
}
.RadComboBoxDropDown_Tacoma .rcbFooter{
	border-top-color:#828282
}
.RadComboBoxDropDown_Tacoma .rcbHovered{
	color:black !important;
	background-color:#dfdfdf
}
.RadComboBoxDropDown_Tacoma .rcbHovered.inactiveComboItem {
    color: black !important;
    background-color: #dfdfdf;
    text-decoration:line-through;
}
.RadComboBoxDropDown_Tacoma .rcbSelected{
	color:black;
	background-color:#c5c5c5
}
.RadComboBoxDropDown_Tacoma .rcbLoading{
	color:black;
	background-color:#dfdfdf
}
.RadComboBoxDropDown_Tacoma .rcbItem em{
	color:black;
	background-color:#dfdfdf
}
.RadComboBoxDropDown_Tacoma .rcbCheckAllItems,
.RadComboBoxDropDown_Tacoma .rcbCheckAllItemsHovered{
	color:#333333;
	background-color:#eaeaea
}
.RadComboBoxDropDown_Tacoma .rcbMoreResults{
	border-color:#828282;
	color:#333333;
	background-color:#eaeaea
}
.RadComboBoxDropDown_Tacoma .rcbMoreResults a{
	border-top-color:#333333
}
.RadComboBoxDropDown_Tacoma .rcbSeparator{
	color:#ffffff;
	background:#8a8a8a
}

 div.RadComboBox_Tacoma .rcbDisabled .rcbInputCell {
	background-position: 0px -44px;
	background-color: rgb(242, 244, 249);
}
 div.RadComboBox_Tacoma .rcbDisabled .rcbInput {
	color: rgb(0, 0, 0);
}
 div.RadComboBoxDropDown_Tacoma .rcbHeader {
	background-color: rgb(16, 63, 156);
	color: rgb(255, 255, 255);
}
 div.RadComboBox_Tacoma .rcbDisabled .rcbInput {
	color: rgb(204, 0, 0);
}
 div.RadComboBox_Tacoma .rcbDisabled .rcbArrowCell {
	color: rgb(204, 0, 0);
}
 div.RadComboBoxDropDown_Tacoma .rcbDisabled {
	color: rgb(204, 0, 0);
}html div.RadComboBoxDropDown.RadComboBoxDropDown_Tacoma div.rcbScroll.rcbWidth ul.rcbList li.rcbItem.inactiveComboItem{	color: black !important;	text-decoration: line-through;
}
