.RadGrid_Tacoma {
    background-color: white;
    color: black !important;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px;
    width: 100% !important;
}
.RadGrid_Tacoma .rgMasterTable,
.RadGrid_Tacoma .rgDetailTable,
.RadGrid_Tacoma .rgGroupPanel table,
.RadGrid_Tacoma .rgCommandRow table,
.RadGrid_Tacoma .rgEditForm table,
.RadGrid_Tacoma .rgPager table {
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px;
}
.RadGrid_Tacoma .rgInput {
    background-color: #334460;
    border: 1px solid #00009d;
    color: white;
}
.GridToolTip_Tacoma {
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px;
}
.RadGrid_Tacoma .rgHeader:first-child,
.RadGrid_Tacoma th.rgResizeCol:first-child,
.RadGrid_Tacoma .rgFilterRow > td:first-child,
.RadGrid_Tacoma .rgRow > td:first-child,
.RadGrid_Tacoma .rgAltRow > td:first-child {
    border-left-width: 0;
    padding-left: 8px;
}
.RadGrid_Tacoma .rgSave,
.RadGrid_Tacoma .rgAdd,
.RadGrid_Tacoma .rgRefresh,
.RadGrid_Tacoma .rgEdit,
.RadGrid_Tacoma .rgDel,
.RadGrid_Tacoma .rgFilter,
.RadGrid_Tacoma .rgPagePrev,
.RadGrid_Tacoma .rgPageNext,
.RadGrid_Tacoma .rgPageFirst,
.RadGrid_Tacoma .rgPageLast,
.RadGrid_Tacoma .rgExpand,
.RadGrid_Tacoma .rgCollapse,
.RadGrid_Tacoma .rgSortAsc,
.RadGrid_Tacoma .rgSortDesc,
.RadGrid_Tacoma .rgUpdate,
.RadGrid_Tacoma .rgCancel,
.RadGrid_Tacoma .rgUngroup,
.RadGrid_Tacoma .rgExpXLS,
.RadGrid_Tacoma .rgExpDOC,
.RadGrid_Tacoma .rgExpPDF,
.RadGrid_Tacoma .rgExpCSV {
    background-image: url('Grid/sprite.gif');
}
.RadGrid_Tacoma .rgHeaderDiv {} .rgTwoLines .rgHeaderDiv {
    background-position: 0 -7550px;
}
.rgHeaderWrapper .rgHeaderDiv {
    border-color: #00009d;
}
.RadGrid_Tacoma .rgHeader,
.RadGrid_Tacoma th.rgResizeCol,
.RadGrid_Tacoma .rgHeaderWrapper {
    border: solid #000088;
    border-width: 0 0 1px 1px;
}
.RadGrid_Tacoma .rgMultiHeaderRow th.rgHeader,
.RadGrid_Tacoma .rgMultiHeaderRow th.rgResizeCol {
    border: solid #000088;
    border-width: 0 0 1px 1px;
}
.RadGrid_Tacoma th.rgSorted {
    border-bottom-color: #000000;
    background-color: #000000;
}
.RadGrid_Tacoma .rgHeader {
    color: #000000;
}
html body.tacoma_ form div div div div table tbody tr td div div.RadPageView div div table tbody tr td div.RadAjaxPanel div.RadGrid.RadGrid_Tacoma table.rgMasterTable thead tr th.rgHeader a{
    color: white !important;
}
.RadGrid_Tacoma th.rgSorted {
    color: #000000;
}
.RadGrid_Tacoma th.rgSorted a {
    color: #000000;
}
.RadGrid_Tacoma .rgRow td,
.RadGrid_Tacoma .rgAltRow td,
.RadGrid_Tacoma .rgEditRow td,
.RadGrid_Tacoma .rgFooter td {
    border-style: solid;
    border-width: 0 0 1px 1px;
}
.RadGrid_Tacoma .rgRow td,
.RadGrid_Tacoma .rgAltRow td {
    border-color: #0000a4;
    color: black !important;
}
.RadGrid_Tacoma .rgRow .rgSorted,
.RadGrid_Tacoma .rgAltRow .rgSorted {
    background-color: #f2f2f2;
}
.RadGrid_Tacoma .rgSelectedRow .rgSorted,
.RadGrid_Tacoma .rgActiveRow .rgSorted,
.RadGrid_Tacoma .rgHoveredRow .rgSorted,
.RadGrid_Tacoma .rgEditRow .rgSorted {
    background-color: transparent;
}
.RadGrid_Tacoma .rgRow a,
.RadGrid_Tacoma .rgEditRow a,
.RadGrid_Tacoma .rgFooter a,
.RadGrid_Tacoma .rgEditForm a,
 .RadGrid_Tacoma .rgAltRow a {
    color: black !important;
}
* + html .RadGrid_Tacoma .rgSelectedRow .rgSorted {
    background-color: #000000;
}
html .RadGrid_Tacoma .rgSelectedRow .rgSorted {
    background-color: white;
    color: black;
}
* + html .RadGrid_Tacoma .rgActiveRow .rgSorted,
* + html .RadGrid_Tacoma .rgHoveredRow .rgSorted {
    background-color: #0000be;
}
* html .RadGrid_Tacoma .rgActiveRow .rgSorted,
* html .RadGrid_Tacoma .rgHoveredRow .rgSorted {
    background-color: #0000be;
}
.RadGrid_Tacoma .rgEditRow {
    background: #00006c;
}
* + html .RadGrid_Tacoma .rgEditRow .rgSorted,
* html .RadGrid_Tacoma .rgEditRow .rgSorted {
    background-color: #00006c;
}
.RadGrid_Tacoma .rgSelectedRow td,
.RadGrid_Tacoma .rgActiveRow td,
.RadGrid_Tacoma .rgHoveredRow td,
.RadGrid_Tacoma .rgEditRow td {
    border-left-width: 0;
    padding-left: 8px;
}
div.RadGrid_Tacoma tr.rgRow.rgSelectedRow td,
div.RadGrid_Tacoma tr.rgAltRow.rgSelectedRow td {
    border-color: Red;
    border-width: 2px;
}
.RadGrid_Tacoma .rgActiveRow td,
.RadGrid_Tacoma .rgHoveredRow td,
.RadGrid_Tacoma .rgEditRow td {
    border-bottom-color: #0000a4;
}
.RadGrid_Tacoma .rgDrag {
    background-image: url('Grid/rgDrag.gif');
}
.RadGrid_Tacoma .rgFooterDiv,
.RadGrid_Tacoma .rgFooter,
.RadGrid_Tacoma .rgFooterWrapper {
    background: #00009a 0 -6500px repeat-x url('Grid/sprite.gif');
}
.RadGrid_Tacoma .rgFooter td,
.RadGrid_Tacoma .rgFooterWrapper {
    border-width: 1px 0;
    border-color: #00006f #ffffff #ffffff;
}
.RadGrid_Tacoma .rgFooterWrapper .rgFooter td {
    border-bottom: 0;
}
.RadGrid_Tacoma .rgFooterWrapper {
    border-bottom: 1px solid #ffffff;
}
.RadGrid_Tacoma .rgPager .rgStatus {
    border: 1px solid;
    border-width: 1px 1px 0 0;
    border-color: #000088 #00009b;
}
.RadGrid_Tacoma .rgStatus div {
    background-image: url('Common/loading_small.gif');
}
.RadGrid_Tacoma .rgPager {
    background: #0000bb 0 -7000px repeat-x url('Grid/sprite.gif');
    color: #000000;
}
.RadGrid_Tacoma td.rgPagerCell {
    border-top: 1px solid #000088;
    border-bottom: 1px solid white;
}
.RadGrid_Tacoma .rgInfoPart {
    color: white;
}
.RadGrid_Tacoma .rgPageFirst {
    margin: 0 3px 0 0;
    background-position: 0 -550px;
}
.RadGrid_Tacoma .rgPageFirst:hover {
    background-position: 0 -600px;
}
.RadGrid_Tacoma .rgPagePrev {
    margin: 0 3px 0 0;
    background-position: 0 -700px;
}
.RadGrid_Tacoma .rgPagePrev:hover {
    background-position: 0 -750px;
}
.RadGrid_Tacoma .rgPageNext {
    margin: 0 0 0 3px;
    background-position: 0 -850px;
}
.RadGrid_Tacoma .rgPageNext:hover {
    background-position: 0 -900px;
}
.RadGrid_Tacoma .rgPageLast {
    margin: 0 0 0 3px;
    background-position: 0 -1000px;
}
.RadGrid_Tacoma .rgPageLast:hover {
    background-position: 0 -1050px;
}
.RadGrid_Tacoma .rgPager .rgPagerButton {
    border-color: #000078;
    background: #0000bb repeat-x 0 -1550px url('Grid/sprite.gif');
    color: #000000;
    font: 12px / 12px "segoe ui", arial, sans-serif;
}
.RadGrid_Tacoma .rgNumPart a {
    color: white;
}
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage {
    color: black;
}
.RadGrid_Tacoma .rgNumPart a:hover,
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage {
    background: no-repeat url('Grid/sprite.gif');
}
.RadGrid_Tacoma .rgNumPart a:hover span,
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage span {
    background: no-repeat url('Grid/sprite.gif');
}
.RadGrid_Tacoma .rgNumPart a:hover {
    background-position: 100% -1250px;
}
.RadGrid_Tacoma .rgNumPart a:hover span {
    background-position: 0 -1150px;
}
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage {
    background-position: 100% -1450px;
}
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage:hover {
    background-position: 100% -1450px;
}
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage span,
.RadGrid_Tacoma .rgNumPart a.rgCurrentPage:hover span {
    background-position: 0 -1350px;
}
.RadGrid_Tacoma .rgHeader .rgSortAsc {
    background-position: 3px -147px;
    height: 12px;
}
.RadGrid_Tacoma .rgHeader .rgSortDesc {
    background-position: 3px -96px;
    height: 12px;
}
.GridReorderTop_Tacoma {
    height: 12px;
    background: 0 0 no-repeat url('Grid/sprite.gif');
}
.GridReorderBottom_Tacoma {
    height: 12px;
    background: 0 0 no-repeat url('Grid/sprite.gif');
    background-position: 0 -50px;
}
.RadGrid_Tacoma .rgFilterRow {
    background: #0000b2;
}
.RadGrid_Tacoma .rgFilterRow td {
    border: solid #00008d;
    border-width: 0 0 1px 1px;
}
.RadGrid_Tacoma .rgFilter {
    background-position: 1px -91px;
}
.RadGrid_Tacoma .rgFilter:hover {
    background-position: 1px -91px;
}
.RadGrid_Tacoma .rgFilterActive {
    background-position: 1px -144px;
}
.RadGrid_Tacoma .rgFilterActive:hover {
    background-position: 1px -144px;
}
.RadGrid_Tacoma .rgFiltered {
    background-position: 3px -82px;
}
.RadGrid_Tacoma .rgFiltered:hover {
    background-position: 1px -91px;
}
.RadGrid_Tacoma .rgFiltered.rgFilterActive {
    background-position: 1px -144px;
    border-color: red;
    border-width: 1px 1px 1px 1px;
}
.RadGrid_Tacoma .rgFilterBox {
    border-color: #00009d;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    color: #000000;
}
.RadMenu_Tacoma .rgHCMClear,
.RadMenu_Tacoma .rgHCMFilter {
    border-color: #00009a #00007c #000097;
    background: #0000bb center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
    color: #000000;
    font-family: "segoe ui", arial, sans-serif;
}
.RadMenu_Tacoma .rgHCMClear:hover,
.RadMenu_Tacoma .rgHCMFilter:hover {
    border-color: #000054 #000000 #00005c;
    background-position: center -67px;
    background-color: #000049;
    color: #000000;
}
.RadMenu_Tacoma_Context .rgFilterApply,
.RadMenu_Tacoma_Context .rgFilterCancel {
    background-image: url('Common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #00009a;
    color: #000000;
    background-color: #0000bb;
    background-image: linear-gradient(#0000bb 0, #0000bb 50%, #0000b3 50%, #0000bb 100%);
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    border-color: #0000ac #00009d #00009d #0000ac;
}
div.RadMenu_Tacoma_Context .rlbGroup {
    border-color: #c5c5c5;
}
.GridContextMenu_Tacoma .rmLeftImage {
    background-image: url('Common/contextMenu.gif');
}
.GridContextMenu_Tacoma .rgHCMSortAsc .rmLeftImage {
    background-position: 0 0;
}
.GridContextMenu_Tacoma .rgHCMSortDesc .rmLeftImage {
    background-position: 0 -40px;
}
.GridContextMenu_Tacoma .rgHCMUnsort .rmLeftImage {
    background-position: 0 -80px;
}
.GridContextMenu_Tacoma .rgHCMGroup .rmLeftImage {
    background-position: 0 -120px;
}
.GridContextMenu_Tacoma .rgHCMUngroup .rmLeftImage {
    background-position: 0 -160px;
}
.GridContextMenu_Tacoma .rgHCMCols .rmLeftImage {
    background-position: 0 -200px;
}
.GridContextMenu_Tacoma .rgHCMFilter .rmLeftImage {
    background-position: 0 -240px;
}
.GridContextMenu_Tacoma .rgHCMUnfilter .rmLeftImage {
    background-position: 0 -280px;
}
.RadGrid_Tacoma .rgGroupPanel {
    border: 0;
    border-bottom: 1px solid #00006e;
    background: #334460;
}
.RadGrid_Tacoma .rgGroupPanel td {
    border: 0;
    padding: 3px 4px;
    vertical-align: middle;
}
.RadGrid_Tacoma .rgGroupPanel td td {
    padding: 0;
}
.RadGrid_Tacoma .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px;
}
.RadGrid_Tacoma .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px;
}
.RadGrid_Tacoma .rgUngroup {
    background-position: 0 -7500px;
}
.RadGrid_Tacoma .rgGroupItem {
    border: 1px solid #000089;
    background: #0000b4 0 -1900px repeat-x url('Grid/sprite.gif');
    color: white;
}
.RadGrid_Tacoma .rgGroupHeader {
    background: #334460;
    font-size: 1.1em;
    line-height: 21px;
    color: white;
}
.RadGrid_Tacoma .rgGroupHeader td {
    border-top: 1px solid #0000bc;
    border-bottom: 1px solid #000072;
    padding-left: 8px;
}
.RadGrid_Tacoma td.rgGroupCol,
.RadGrid_Tacoma td.rgExpandCol {
    background: #334460 none;
    border-color: black;
}
.RadGrid_Tacoma .rgGroupHeader .rgCollapse {
    background-position: 3px -140px;
}
.RadGrid_Tacoma .rgEditForm {
    border-bottom: 1px solid #0000a4;
}
.RadGrid_Tacoma .rgUpdate {
    background-position: 0 -1800px;
}
.RadGrid_Tacoma .rgCancel {
    background-position: 0 -1850px;
}
.RadGrid_Tacoma .rgDetailTable {
    border-color: #00006e;
}
.RadGrid_Tacoma .rgGroupHeader .rgExpand {
    background-position: 3px -93px;
}
.RadGrid_Tacoma .rgCollapse {
    background-position: 3px -94px;
}
.RadGrid_Tacoma .rgCommandRow {
    background: #0000b0 0 -2099px repeat-x url('Grid/sprite.gif');
    color: #333333;
}
.RadGrid_Tacoma .rgCommandCell {
    border: 0;
    padding: 0;
}
.RadGrid_Tacoma thead .rgCommandCell {
    border-bottom: 1px solid #00006e;
}
.RadGrid_Tacoma .rgCommandTable {
    border: 1px solid #00008d;
}
.RadGrid_Tacoma .rgCommandTable td {
    border: 0;
    padding: 2px 7px;
}
.RadGrid_Tacoma .rgCommandRow a {
    color: #000000;
    text-decoration: none;
}
.RadGrid_Tacoma .rgAdd {
    margin-right: 3px;
    background-position: 0 -1650px;
}
.RadGrid_Tacoma .rgRefresh {
    margin-right: 3px;
    background-position: 0 -1600px;
}
.RadGrid_Tacoma .rgEdit {
    background-position: 0 -1700px;
}
.RadGrid_Tacoma .rgDel {
    background-position: 0 -1750px;
}
.RadGrid_Tacoma .rgExpXLS,
.RadGrid_Tacoma .rgExpDOC,
.RadGrid_Tacoma .rgExpPDF,
.RadGrid_Tacoma .rgExpCSV {
    background-image: url('Common/export.gif');
}
.RadGrid_Tacoma .rgExpXLS {
    background-position: 0 0;
}
.RadGrid_Tacoma .rgExpDOC {
    background-position: 0 -50px;
}
.RadGrid_Tacoma .rgExpPDF {
    background-position: 0 -100px;
}
.RadGrid_Tacoma .rgExpCSV {
    background-position: 0 -150px;
}
.rgCellSelectorArea_Tacoma,
.GridRowSelector_Tacoma {
    background: #000000;
}
.GridItemDropIndicator_Tacoma {
    border-top: 1px dashed #000000;
}
.GridToolTip_Tacoma {
    border: 1px solid #000077;
    padding: 3px;
    background: #0000b1;
    color: #333333;
}
.RadGridRTL_Tacoma .rgHeader:first-child,
.RadGridRTL_Tacoma th.rgResizeCol:first-child,
.RadGridRTL_Tacoma .rgFilterRow > td:first-child,
.RadGridRTL_Tacoma .rgRow > td:first-child,
.RadGridRTL_Tacoma .rgAltRow > td:first-child {
    border-left-width: 1px;
    padding-left: 7px;
}
.RadGridRTL_Tacoma .rgPageFirst {
    background-position: 0 -1000px;
}
.RadGridRTL_Tacoma .rgPageFirst:hover {
    background-position: 0 -1050px;
}
.RadGridRTL_Tacoma .rgPagePrev {
    margin: 0 0 0 3px;
    background-position: 0 -850px;
}
.RadGridRTL_Tacoma .rgPagePrev:hover {
    background-position: 0 -900px;
}
.RadGridRTL_Tacoma .rgPageNext {
    margin: 0 3px 0 0;
    background-position: 0 -700px;
}
.RadGridRTL_Tacoma .rgPageNext:hover {
    background-position: 0 -750px;
}
.RadGridRTL_Tacoma .rgPageLast {
    background-position: 0 -550px;
}
.RadGridRTL_Tacoma .rgPageLast:hover {
    background-position: 0 -600px;
}
.RadGridRTL_Tacoma .rgGroupHeader .rgExpand {
    background-position: -20pxpx -495px;
}
.RadGridRTL_Tacoma .rgExpand {
    background-position: -20px -496px;
}
div.RadGrid_Tacoma .rgCommandRow {
    background-image: none;
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma .rgCommandCell {
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma th.rgResizeCol {
    border-color: rgb(0, 0, 0);
    background-image: none;
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma .rgHeader {
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-image: none;
}
div.RadGrid_Tacoma .rgHeader a {
    color: rgb(255, 255, 255);
}
div.RadGrid_Tacoma th.rgSorted {
    background-color: rgb(0, 0, 102);
}
div.RadGrid_Tacoma .rgFilterRow {
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma .rgFilterRow td {
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma .rgRow td {
    border-color: rgb(0, 0, 0);
    background-color: #f2f2f2;
    color: black !important;
}
div.RadGrid_Tacoma .rgRow td > span{
    border-color: rgb(0, 0, 0);
    background-color: #f2f2f2;
    color: black !important;
}
div.RadGrid_Tacoma .rgActiveRow td {
    border-top-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
}
div.RadGrid_Tacoma .rgHoveredRow td {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    padding-right: 0px;
    border-right-style: solid;
    border-right-width: 0px;
}
div.RadGrid_Tacoma .rgMasterTable .rgAltRow td.rgSorted,
div.RadGrid_Tacoma .rgMasterTable .rgAltRow td.rgSorted a,
div.RadGrid_Tacoma .rgMasterTable .rgAltRow td.rgSorted span,
div.RadGrid_Tacoma .rgMasterTable .rgAltRow td.rgSorted span {
    color: black !important;
    background-color: #dddddd;
}
div.RadGrid_Tacoma .rgAltRow {
    
    background-color: rgb(0, 0, 211);
    color: black !important;
}
div.RadGrid_Tacoma .rgFooter td {
    background-color: #334460;
}
div.RadGrid_Tacoma .rgFooter {
    color: rgb(255, 255, 255);
    background-image: none;
    background-color: #334460;
}
div.RadGrid_Tacoma .rgPager {
    background-image: none;
    background-color: rgb(0, 0, 135);
}
div.RadGrid_Tacoma .rgPager .rgPagerCell {
    font-size: 12px;
}
div.RadGrid_Tacoma .rgCommandRow {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgCommandCell {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma th.rgResizeCol {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgHeader {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma th.rgSorted {
    background-color: rgb(49, 63, 83);
}
div.RadGrid_Tacoma .rgFilterRow td {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgAltRow td,
div.RadGrid_Tacoma .rgAltRow td > span{
    background-color: #dddddd;
    border-color: rgb(0, 0, 0);
    color: black !important;
}
div.RadGrid_Tacoma .rgFooter td {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgFooter {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgPager {
    background-color: rgb(78, 99, 129);
}
div.RadGrid_Tacoma .rgPager .rgPagerCell {
    border-top-color: rgb(102, 102, 102);
    background-color: rgb(78, 99, 129);
}

